<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container-row">
        <div class="menu">
            <h1>El saldo de tu cuenta corriente es: <%= corriente.cantidad %></h1>
            <h3>El numero de cuenta es: <%= corriente.numeroCuenta %></h3>
            <div>
                <form method="post" >
                    <label for="cantidadCorriente">Depositar o Retirar de tu Cuenta corriente</label>
                    <input type="number" name="cantidadCorriente" class="cantidad" required>
                    <input type="submit" class="button">
                </form>
                <% if(ahorro){%>
                    <h1>El saldo de tu cuenta ahorro es: <%= ahorro.cantidad %></h1>
                    <h3>El numero de cuenta es: <%= ahorro.numeroCuenta %></h3>
                    <form method="post" >
                        <label for="cantidadAhorro">Depositar o Retirar de tu Cuenta Ahorro</label>
                        <input type="number" name="cantidadAhorro"  class="cantidad" required>
                        <input type="submit" class="button">
                    </form>
                <% } %>
                
            </div>
            <% if(ahorro===null){%>
                <a href="/cuentas/Ahorro">Crear cuenta ahorro</a>
            <% } %>
            <a href="/usuarios/Inicio">Volver</a>
        </div>
        
    </div>
</body>
</html>