<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/usuarios.css">
</head>
<body>
    <div class="nav">
        <a href="/usuarios/Inicio">Inicio</a>
    </div>
    <div class="form-container" id="edit-coop-form-container">
        <h2>Editar Usuario</h2>
        <form id="edit-coop-form" onsubmit="updateUsuario(event)">
            <input type="hidden" id="edit-id" name="<%= usuario.id%>">

            <label for="nombre">Nombre:</label>
            <input type="text" id="edit-nombre" name="nombre" required value="<%= usuario.nombre %>">
            <label for="usuario">Usuario:</label>
            <input type="text" id="edit-usuario"name="usuario" required value="<%= usuario.usuario %>" >
            <label for="contraseñaVieja">Contraseña Antigua:</label>
            <input type="password"id="edit-contraseñaVieja" name="contraseñaVieja" required >
            <label for="contraseñaNueva">Contraseña Nueva:</label>
            <input type="password" id="edit-contraseñaNueva"name="contraseñaNueva" required>
            <label for="email">Email:</label>
             <input type="email" id="edit-email"name="email" required value="<%=usuario.email%>">

            <button type="submit">Actualizar Usuario</button>
        </form>
    </div>
    <script>
       
        function updateUsuario(event) {
            event.preventDefault();
            console.log("llegue")

            const id = document.getElementById('edit-id').name;
            const json ={
                nombre: document.getElementById('edit-nombre').value,
                contraseñaVieja: document.getElementById('edit-contraseñaVieja').value,
                usuario: document.getElementById('edit-usuario').value,
                contraseñaNueva: document.getElementById('edit-contraseñaNueva').value,
                email: document.getElementById('edit-email').value
            } 
           
            fetch(`http://localhost:3000/usuarios/editar/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(json)
            })
            .then(() => {
                    location.replace("/usuarios")
            });
            
        }
    </script>
</body>
</html>