<%- include('layout/header') %>
<link rel="stylesheet" href="/css/index.css">
<body>
    <div class="container">
        <h1>SISTEMA BANCARIO</h1>
        <img src="imagen/UVM.png" alt="Universidad">
        <div class="menu">
            <form method="post">
                <input type="text" placeholder="Usuario" name="user" required>
                <input type="password" placeholder="Contraseña" name="pass" required>
                <button type="submit">Ingresar</button>
            </form>
            <a href="/usuarios/Registro">Registrate</a>
        </div>
    </div>
    <div class="footer">
        Integrantes:<br>
        Br. Miguel Suarez. CI. V-28.206.469<br>
        Br. Rhonny Jaimes. CI. V-29.718.095<br>
        Br. Henry Hernandez. CI. V-30.808.485<br>
        Profesor: Roberto Di Michele<br>
        Materia: Backend
    </div>
</body>
</html>
