<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container-row">
        <div class="menu">
            <h1>Bienvenido  <%= token.usuario %> </h1>

            <a href="/usuarios/cerrar">Salir</a>
        </div>
        <div class="container">
            <a href="/prestamos">Prestamos</a>
            <a href="/cuentas/trasferencias">Transferir</a>
            <a href="/cooperativas">Cooperativa</a>
            <a href="/usuarios/editar">Editar</a>
            <a href="/cuentas">Cuentas</a>
        </div>
    </div>

</body>
</html>