<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container-row">
        <div class="menu">
            <% if(token.rol==="admin"){%>
                <h1>Bienvenido Administrador <%= token.nombre %></h1>
       <%     }else{%>
        <h1>Bienvenido <%= token.nombre %></h1>
    <%   } %> 
        <h3>Usuario: <%= token.usuario %></h3>
            <a href="/usuarios/cerrar" id="cerrar">Salir</a>
        </div>
        <% if(token.rol==="admin"){%>
            <div class="container">
                <a href="/prestamos">Prestamos</a>
                <a href="/cooperativas">Cooperativa</a>
                <a href="/usuarios/lista">Usuarios</a>
            </div>
       <% }else{%>
        <div class="container">
            <a href="/prestamos">Prestamos</a>
            <a href="/cuentas/transferencias">Transferir</a>
            <a href="/cooperativas">Cooperativa</a>
            <a href="/usuarios/editar">Editar</a>
            <a href="/cuentas">Cuentas</a>
        </div>
    <%   } %>
       
    </div>

</body>
</html>